---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/lii_logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coming Soon - LII Agency</title>
	</head>
	<body class="min-h-screen flex justify-center items-center bg-black">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
			:root {font-family: 'Inter', Courier, monospace;}
		</style>
		<div>
			<h1 class="text-center my-4 font-black tracking-tight text-white text-6xl">Coming soon</h1>
			<h2 class="text-center my-4 font-black tracking-tight text-white text-8xl">
				<img class="mx-auto" width="60" src="/lii_logo.png" alt="">
			</h2>
		</div>
	</body>
</html>
